@model HomeStay_MVC.Models.ReportModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Thêm mới bản ghi giao dịch";
    var role = Context.Session.GetString("Role");
    var ht_id = Context.Session.GetString("Homestays_Id");
}

<h2 class="text-center mt-4">Thêm mới bản ghi giao dịch</h2>
<div style="margin-left:50px; margin-top: 50px;">
    @using (Html.BeginForm("Add", "Report", FormMethod.Post))
    {
        <div style="display: flex; flex-direction:row;">
            <div style="flex:1;margin-left: 30px;margin-right: 30px;">
                <div class="form-group">
                    <label for="homestay-select">Chọn cơ sở</label>
                    <select id="homestay-select" name="HOMESTAYS_ID" class="form-control" requied>
                        <option value="0">-- Chọn cơ sở --</option>
                        @foreach (var item in (List<SelectListItem>)ViewBag.HomestayList)
                        {

                            if (item.Value == ht_id || item.Value == ViewBag.id_homestay)
                            {
                                <option value="@item.Value" selected>@item.Text</option>
                            }
                            else
                            {
                                <option value="@item.Value">@item.Text</option>
                            }

                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="TYPE">Phân loại giao dịch</label>
                    @Html.DropDownListFor(m => m.TYPE, Model.TypeOptions, "-- Chọn loại giao dịch --", new { @class = "form-control", @id = "TYPE", required = "required" })
                </div>
                <div class="form-group">
                    <label for="CATEGORY">Tên giao dịch</label>
                    @Html.TextBoxFor(m => m.CATEGORY, new { @class = "form-control", @id = "CATEGORY", @required = "required" })
                </div>
                <div class="form-group">
                    <label for="DESCRIPT">Mô tả giao dịch</label>
                    @Html.TextAreaFor(m => m.DESCRIPT, new { @class = "form-control", @id = "DESCRIPT", @required = "required" })
                </div>
                <div class="form-group">
                    <label for="AMOUNT">Giá trị</label>
                    @Html.TextBoxFor(m => m.AMOUNT, new { type = "number", @class = "form-control", @id = "AMOUNT", @required = "required" })
                </div>
                @if (ViewBag.Message != null)
                {
                    <div class="alert alert-danger">@ViewBag.Message</div>
                }
                <p style="text-align:right; margin-right:40px; margin-top: 50px">
                    <button type="submit" class="btn btn-success">Thêm</button>
                    <a href="@Url.Action("Index", "Report")" class="btn btn-danger">Hủy</a>
                </p>
            </div>
        </div>
    }
</div>
