@model HomeStay_MVC.Models.AccountInfor

@{
    Layout = "_Layout";
    ViewData["Title"] = "Thông tin người dùng";
    var role = Context.Session.GetString("Role");
    var username = Context.Session.GetString("User");
}
<h2 class="text-center mt-4">Thông tin người dùng</h2>
<div style="margin-left:50px; margin-top: 50px;">
    <div style="display: flex; flex-direction:row;">
        <div style="flex:1;margin-left: 30px;margin-right: 30px;">
            <div class="form-group">
                <label for="Name">Họ và tên</label>
                <input id="Name" type="text" class="form-control" value="@Model.Name" readonly />
            </div>
            <div class="form-group">
                <label for="Email">Email</label>
                <input id="Email" type="email" class="form-control" value="@Model.Email" readonly />
            </div>
            <div class="form-group">
                <label for="PHONE">Số điện thoại</label>
                <input id="PHONE" type="text" class="form-control" value="@Model.Phone" readonly />
            </div>
            <div class="form-group">
                <label for="CARD_NUMBER">CCCD</label>
                <input id="CARD_NUMBER" type="text" class="form-control" value="@Model.Card_Number" readonly />
            </div>
            <div class="form-group">
                <label for="Create_By">Người tạo</label>
                <input id="Create_By" type="text" class="form-control" value="@Model.Create_By" readonly />
            </div>
        </div>
        <div style="flex:1; margin-left: 30px;margin-right: 30px;">
            <div class="form-group">
                <label for="HOMESTAYS_NAME">Cơ sở Homestay làm việc</label>
                <input id="HOMESTAYS_NAME" type="text" class="form-control" value="@Model.HOMESTAYS_NAME" readonly />
            </div>
            <div class="form-group">
                <label for="IsLock">Trạng thái tài khoản</label>
                <input id="IsLock" type="text" class="form-control" value="@Model.IsLock" readonly />
            </div>
            <div class="form-group">
                <label for="Create_At">Ngày tạo</label>
                <input id="Create_At" type="text" class="form-control" value="@Model.Create_At" readonly />
            </div>
            <div class="form-group">
                <label for="Update_At">Ngày sửa đổi</label>
                <input id="Update_At" type="text" class="form-control" value="@Model.Update_At" readonly />
            </div>

            <div class="form-group" style="text-align:right;margin-right:20px; display: flex; flex-direction:row; justify-content:space-between">
                @if ((Model.IsLock == "Bị khóa" && Model.Role == "manager" && role != "manager") || (Model.IsLock == "Bị khóa" && Model.Role == "owner" && role == "admin") || (Model.IsLock == "Bị khóa" && Model.Role == "admin" && username == "admin" && role == "admin" && Model.Users != "admin"))
                {
                    @using (Html.BeginForm("Lock", "Account", FormMethod.Post))
                    {
                        @Html.HiddenFor(m => m.Id)
                        ;
                        @Html.HiddenFor(m => m.IsLock)
                        ;
                        @Html.HiddenFor(m => m.Name)
                        ;
                        @Html.HiddenFor(m => m.Email)
                        @Html.HiddenFor(m => m.Phone)
                        ;
                        @Html.HiddenFor(m => m.Card_Number)
                        ;
                        @Html.HiddenFor(m => m.Create_By)
                        ;
                        @Html.HiddenFor(m => m.HOMESTAYS_NAME)
                        ;
                        @Html.HiddenFor(m => m.Create_At)
                        ;
                        @Html.HiddenFor(m => m.Update_At)
                        ;
                        <button type="submit" class="btn btn-success" onclick="return confirm('Bạn có chắc chắn muốn mở khóa tài khoản này không?')">Mở khóa tài khoản</button>
                    }
                }
                @if ((Model.IsLock == "Đang hoạt động" && Model.Role == "manager" && role != "manager") || (Model.IsLock == "Đang hoạt động" && Model.Role == "owner" && role == "admin") || (Model.IsLock == "Đang hoạt động" && Model.Role == "admin" && username == "admin" && role == "admin" && Model.Users != "admin"))
                {
                    @using (Html.BeginForm("Lock", "Account", FormMethod.Post))
                    {
                        @Html.HiddenFor(m => m.Id)
                        ;
                        @Html.HiddenFor(m => m.IsLock)
                        ;
                        @Html.HiddenFor(m => m.Name)
                        ;
                        @Html.HiddenFor(m => m.Email)
                        @Html.HiddenFor(m => m.Phone)
                        ;
                        @Html.HiddenFor(m => m.Card_Number)
                        ;
                        @Html.HiddenFor(m => m.Create_By)
                        ;
                        @Html.HiddenFor(m => m.HOMESTAYS_NAME)
                        ;
                        @Html.HiddenFor(m => m.Create_At)
                        ;
                        @Html.HiddenFor(m => m.Update_At)
                        ;
                        <button type="submit" class="btn btn-success" onclick="return confirm('Bạn có chắc chắn muốn khóa tài khoản này không?')">Khóa tài khoản</button>
                    }
                }
                <a type="button" class="btn btn-danger" asp-controller="Account" asp-action="Index">Quay lại</a>
            </div>

            @if (!string.IsNullOrEmpty(ViewBag.Message))
            {
                @:<div class="alert alert-success">@ViewBag.Message</div>
            }
            @if (!string.IsNullOrEmpty(ViewBag.Erro))
            {
                @:<div class="alert alert-danger">@ViewBag.Erro</div>
            }
        </div>
   </div>
</div>

