@model HomeStay_MVC.Models.AccountInfor

@{
    Layout = "_Layout";
    ViewData["Title"] = "Thông tin người dùng";
}
<h2 class="text-center mt-4">Thông tin người dùng</h2>
<div style="margin-left:50px; margin-top: 50px;">
    <div style="display: flex; flex-direction:row;">
        <div style="flex:1;margin-left: 30px;margin-right: 30px;">
            <div class="form-group">
                <label for="Name">Họ và tên</label>
                <input id="Name" type="text" class="form-control" value="@Model.Name" readonly />
            </div>
            <div class="form-group">
                <label for="Email">Email</label>
                <input id="Email" type="email" class="form-control" value="@Model.Email" readonly />
            </div>
            <div class="form-group">
                <label for="PHONE">Số điện thoại</label>
                <input id="PHONE" type="text" class="form-control" value="@Model.Phone" readonly />
            </div>
            <div class="form-group">
                <label for="CARD_NUMBER">CCCD</label>
                <input id="CARD_NUMBER" type="text" class="form-control" value="@Model.Card_Number" readonly />
            </div>
            <div class="form-group">
                <label for="Create_By">Người tạo</label>
                <input id="Create_By" type="text" class="form-control" value="@Model.Create_By" readonly />
            </div>
        </div>
        <div style="flex:1; margin-left: 30px;margin-right: 30px;">
            <div class="form-group">
                <label for="HOMESTAYS_NAME">Cơ sở Homestay làm việc</label>
                <input id="HOMESTAYS_NAME" type="text" class="form-control" value="@Model.HOMESTAYS_NAME" readonly />
            </div>
            <div class="form-group">
                <label for="IsLock">Trạng thái tài khoản</label>
                <input id="IsLock" type="text" class="form-control" value="@Model.IsLock" readonly />
            </div>
            <div class="form-group">
                <label for="Create_At">Ngày tạo</label>
                <input id="Create_At" type="text" class="form-control" value="@Model.Create_At" readonly />
            </div>
            <div class="form-group">
                <label for="Update_At">Ngày sửa đổi</label>
                <input id="Update_At" type="text" class="form-control" value="@Model.Update_At" readonly />
            </div>
            <div class="form-group" style="text-align:right;margin-right:20px;">
                <a type="button" class="btn btn-danger" asp-controller="Account" asp-action="Index">Quay lại</a>
            </div>
        </div>
   </div>
</div>

