@model IEnumerable<HomeStay_MVC.Models.AccountInfor>

@{
    Layout = "_Layout";
    ViewData["Title"] = "Quản lý tài khoản";
    var username = Context.Session.GetString("User");
}

<h2 class="text-center mt-4">Quản lý tài khoản</h2>

<p style="text-align:right; margin-right:20px;">
    <a class="btn btn-primary" asp-action="Add">Tạo tài khoản mới</a>
</p>

<div class="table-responsive">
    <table class="table table-bordered table-hover text-center">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Tên tài khoản</th>
                <th>Họ tên</th>
                <th>Ngày tạo</th>
                <th>Ngày sửa đổi gần nhất</th>
                <th>Vai trò</th>
                <th>Hành động</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var account in Model)
            {
                <tr>
                    <td>
                        US.@Html.DisplayFor(modelItem => account.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => account.Users)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => account.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => account.Create_At)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => account.Update_At)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => account.Role)
                    </td>
                    <td style="display: flex; gap: 15px; justify-content:center;align-items:center;">
                        <a asp-action="Details" class="btn btn-sm btn-info" asp-route-username="@account.Users" title="Xem chi tiết"><i class="fa-solid fa-circle-info"></i></a>
                        <a asp-action="Edit" class="btn btn-sm btn-primary" asp-route-username="@account.Users" title="Sửa thông tin"><i class="fa-solid fa-pen-to-square"></i></a>
                        @if (username != account.Users && account.Users!="admin")
                        {
                            <a asp-action="Delete" class="btn btn-sm btn-danger" asp-route-username="@account.Users" title="Xóa"><i class="fa-solid fa-trash-can"></i></a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        @if (TempData["Success"] != null)
        {
            <text>
                    Swal.fire('Thành công', '@TempData["Success"]', 'success');
            </text>
        }
    </script>
}
