@model IEnumerable<HomeStay_MVC.Models.Services>

@{
    Layout = "_Layout";
    ViewData["Title"] = "Quản lý dịch vụ";
    var role = Context.Session.GetString("Role");
}

<h2 class="text-center mt-4">Quản lý dịch vụ</h2>
@if (role != "manager")
{
    <p style="text-align:right; margin-right:20px;">
        <a class="btn btn-success" asp-action="Add"><i class="fa-solid fa-plus"></i> Tạo dịch vụ</a>
    </p>}

<div class="table-responsive">
    <table class="table table-bordered table-hover text-center">
        <thead class="table-dark">
            <tr>
                <th></th>
                <th>Tên dịch vụ</th>
                <th>Giá dịch vụ</th>
                @if (role != "manager")
                {
                    <th>Hành động</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var service in Model)
            {
                <tr>
                    <td>
                        <img src="@Url.Content($"~/uploads/AvatarServices/{service.AVATAR_PATH}")"
                             alt="Avatar"
                             style="width: 100px; height: 100px; object-fit: cover; border: 1px solid #ccc; padding: 5px;" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => service.SERVICES_NAME)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => service.SERVICES_PRICE) VND
                    </td>
                    @if (role != "manager")
                    {
                        <td style="display: flex; gap: 15px; justify-content:center;align-items:center;">
                            <a asp-action="Details" class="btn btn-sm btn-info" asp-route-id="@service.ID" title="Xem chi tiết"><i class="fa-solid fa-circle-info"></i></a>
                            <a asp-action="Edit" class="btn btn-sm btn-primary" asp-route-id="@service.ID" title="Sửa thông tin"><i class="fa-solid fa-pen-to-square"></i></a>
                            <a asp-action="Delete" class="btn btn-sm btn-danger" asp-route-id="@service.ID" title="Xóa"><i class="fa-solid fa-trash-can"></i></a>
                    </td>}
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        @if (TempData["Success"] != null)
        {
            <text>
                                    Swal.fire('Thành công', '@TempData["Success"]', 'success');
            </text>
        }
    </script>
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
