@model HomeStay_MVC.Models.UserInfor

@{
    Layout = "_Layout";
    ViewData["Title"] = "Thông tin cá nhân";
}
@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        @if (TempData["Success"] != null)
        {
            <text>
                        Swal.fire({
                            icon: 'success',
                            title: 'Thành công!',
                            text: '@Html.Raw(TempData["Success"])',
                            confirmButtonText: 'OK'
                        });
            </text>
            TempData["Success"] = null;
        }
    </script>
    <script>
        function previewImage(event) {
            var reader = new FileReader();
            reader.onload = function(){
                var output = document.getElementById('imgPreview');
                output.src = reader.result;
            };
            reader.readAsDataURL(event.target.files[0]);
        }
    </script>
}
<h2 class="text-center mt-4">Thông tin cá nhân</h2>
<div style="margin-left:100px;">
    @* <div class="form-group"> *@
    @*     <img id="imgPreview" src="~/images/@Model.AVATAR_PATH" style="max-width: 150px;" /> *@
    @*     <input type="file" name="AvatarFile" class="form-control" onchange="previewImage(event)" /> *@
    @* </div> *@
    <div class="form-group">
        <label for="Name">Họ và tên</label>
        <input id="Name" type="text" class="form-control" value="@Model.Name" readonly />
    </div>
    <div class="form-group">
        <label for="Email">Email</label>
        <input id="Email" type="email" class="form-control" value="@Model.Email" readonly />
    </div>
    <div class="form-group">
        <label for="PHONE">Số điện thoại</label>
        <input id="PHONE" type="text" class="form-control" value="@Model.PHONE" readonly />
    </div>
    <div class="form-group">
        <label for="CARD_NUMBER">CCCD</label>
        <input id="CARD_NUMBER" type="text" class="form-control" value="@Model.CARD_NUMBER" readonly />
    </div>

    <form asp-action="EditProfile" asp-controller="Users" method="get">
        <p style="text-align:right; margin-right:20px;">
            <button type="submit" class="btn btn-success">Chỉnh sửa thông tin</button>
            <a href="@Url.Action("Index", "AdminHome")" class="btn btn-danger">Quay lại</a>
        </p>
    </form>
</div>

