@model IEnumerable<HomeStay_MVC.Models.Rooms>

@{
    Layout = "_Layout";
    ViewData["Title"] = "Quản lý phòng";
}

<h2 class="text-center mt-4">Quản lý phòng</h2>

<p style="text-align:right; margin-right:20px;">
    <a class="btn btn-success" asp-action="Add">Tạo phòng mới</a>
</p>

<div class="table-responsive">
    <table class="table table-bordered table-hover text-center">
        <thead class="table-dark">
            <tr>
                <th>Cơ sở</th>
                <th>ID Phòng</th>
                <th>Tên phòng</th>
                <th>Giá phòng</th>
                <th>Trạng thái</th>
                <th>Ngày tạo</th>
                <th>Hành động</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var room in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => room.HOMESTAYS_NAME)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => room.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => room.ROOMS_NAME)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => room.ROOMS_PRICE)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => room.ROOMS_STATUS)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => room.CREATE_AT)
                    </td>
                    <td>
                        <a asp-action="Details" class="btn btn-sm btn-info" asp-route-id="@room.ID">Chi tiết</a>
                        <a asp-action="Edit" class="btn btn-sm btn-primary" asp-route-id="@room.ID">Sửa</a>
                        <a asp-action="Delete" class="btn btn-sm btn-danger" asp-route-id="@room.ID">Xóa</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        @if (TempData["Success"] != null)
        {
            <text>
                            Swal.fire('Thành công', '@TempData["Success"]', 'success');
            </text>
        }
    </script>
}
