@model IEnumerable<HomeStay_MVC.Models.HomestaysObj>

@{
    Layout = "_Layout";
    ViewData["Title"] = "Quản lý cơ sở";
}

<h2 class="text-center mt-4">Quản lý cơ sở</h2>

<p style="text-align:right; margin-right:20px;">
    <a class="btn btn-success" asp-action="Add">Tạo cơ sở mới</a>
</p>

<div class="table-responsive">
    <table class="table table-bordered table-hover text-center">
        <thead class="table-dark">
            <tr>
                <th></th>
                <th>Tên cơ sở</th>
                <th>Tên quản lí</th>
                <th>Địa chỉ</th>
                <th>Ngày tạo</th>
                <th>Hành động</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var homestay in Model)
            {
                <tr>
                    <td>
                        <img src="@Url.Content($"~/uploads/AvatarHomestay/{homestay.AVATAR_PATH}")"
                             alt="Avatar"
                             style="width: 100px; height: 100px; object-fit: cover; border: 1px solid #ccc; padding: 5px;" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => homestay.HOMESTAYS_NAME)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => homestay.MANAGER_NAME)
                    </td>
                    <td style="white-space: wrap; overflow: hidden; text-overflow: ellipsis; max-width: 200px;" title="@Html.DisplayFor(modelItem => homestay.HOMESTAYS_ADDRESS)">
                        @Html.DisplayFor(modelItem => homestay.HOMESTAYS_ADDRESS)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => homestay.CREATE_AT)
                    </td>
                    <td>
                        <a asp-action="Details" class="btn btn-sm btn-info" asp-route-id="@homestay.id" asp-route-userId="@homestay.USERS_ID">Chi tiết</a>
                        <a asp-action="Edit" class="btn btn-sm btn-primary" asp-route-id="@homestay.id" asp-route-userId="@homestay.USERS_ID">Sửa</a>
                        <a asp-action="Delete" class="btn btn-sm btn-danger" asp-route-id="@homestay.id" asp-route-userId="@homestay.USERS_ID">Xóa</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        @if (TempData["Success"] != null)
        {
            <text>
                        Swal.fire('Thành công', '@TempData["Success"]', 'success');
            </text>
        }
    </script>
}
